<div id="vanilla-comments"></div>
<script type="text/javascript">
    /*** Required Settings: Edit BEFORE pasting into your web page ***/
    var vanilla_forum_url = 'https://help.sysarmy.com/'; // The full http url & path to your vanilla forum
    var vanilla_identifier = "{{ .Permalink }}"; // Your unique identifier for the content being commented on
    var vanilla_title = "{{ .Title }}";

    /*** Optional Settings: Ignore if you like ***/
    // var vanilla_discussion_id = '4722'; // Attach this page of comments to a specific Vanilla DiscussionID.
    var vanilla_category_id = '11'; // Create this discussion in a specific Vanilla CategoryID.

    /*** DON'T EDIT BELOW THIS LINE ***/
    (function() {
        var vanilla = document.createElement('script');
        vanilla.type = 'text/javascript';
        var timestamp = new Date().getTime();
        vanilla.src = vanilla_forum_url + '/js/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(vanilla);
    })();
</script>
<noscript>
    Please enable JavaScript to view the
    <a href="http://vanillaforums.com/?ref_noscript">
        comments powered by /Help.
    </a>
</noscript>