name: Deploy to GitHub Pages

on: 
  push:
    branches:
      - master
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build
      uses: khanhicetea/gh-actions-hugo-deploy-gh-pages@master
      env:
        GITHUB_BRANCH: gh-pages
        GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
        HUGO_VERSION: "0.110.0"
  Push:
    needs: Build
    runs-on: ubuntu-latest
    steps:
    - name: Push
      uses: actions/checkout@v2.3.4
      with:
        clean: true
        repository: sysarmy/sysarmy.github.io
        ref: master
        ssh-key: ${{ secrets.SYSARMYDEPLOYKEY }}
    - run: |
        git config user.name github-actions
        git config user.email github-actions@github.com 
        git submodule update --init --recursive
        git submodule update --remote
        git add . 
        git commit -m "Automated deployment to GitHub Pages for commit: ${{ github.sha }}" 
        git push
